/* defalut setting */
body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

ul {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif;
}

li{
  list-style: none;
}